.container {
  margin-top: 20%;
}
.book-detailed {
  color: gray;
}
.details {
  background: rgba(0,0,0,0);
  color: gray;
}
.title {
  padding-bottom: 0px;
  margin-bottom: 10px;

}
.image-container {
  background: white;
  margin-top: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 3px;
  margin-bottom: 15px;
}
.author {
  float: left;
}
.isbn {
  float: right;
}
input {
  width: 100%;
  height: 25px; 
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}
textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 7px;
}
.new-book {
  width: 50%;
  margin: 20vh auto;

}
.view-title {
  width: 50%;
  margin: 0 auto;
}

.book-container {
  width: 50%;
  margin: 0 auto;
}

.book-container img {
  max-width: 100%;
  margin-left: 25%;
}
.image-container .detailed-view {
  clear: both;
  display: block;
  margin: 0px auto;
  padding: 15px;
}

.book-items {
  position: relative;
  width: 100%;
  margin-top:3.5vw;
}

.book-overlay {
  background: rgba(120, 120, 120, 0.75);
  display: block;
  width: inherit;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.book-overlay>p {
  padding: 0;
  clear: both;
  float: left;
  font-size: 0.75em;
}
.book-overlay>h3 {
  padding: 0;
  margin: 5px 0px;
  float: left;
}

#view-detail {
  padding: 0;
  float: right;
  margin-top: 1vh;
  margin-right: 1vw;
  width: 20vw;
  height: 2.5vh;
  border: none;
  border-radius: 5px;
  text-transform: lowercase;
}

#add-book {
  float: right;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 5px;
  outline: none;
}

.book-overlay * {
  text-transform: capitalize;
  text-align: center;
  padding: 3vw;
}

.social-links ul {
  width: 75%;  
  position: absolute;
  right: 0;
}

.social-links li {
  display: inline-block;
  margin: 2vw 0;
  margin-right: 5%;
}

#error-message {
  width: 50%;
  margin: 2vw auto;
  line-height: 8vw;
}

#error-message h3 {
  font-size: 5vw;
}

#error-message p {
  font-size: 3vw;
  color: #d13227;
}